<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="experiencias.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Entidades</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container espacioArriba">
      <form th:action="@{/experiencias}" method="GET" enctype="utf8">
        <button class="btn btn-success" type="submit">Crear Nueva Experiencia</button>
      </form>
    </div>
    <div class="container espacioArriba">
      <hr/>
      <div class="row">
        <div th:each="ent: ${listaEntidades}" th:text="${ent.nombre}">
          <div th:each="ocu: ${listaOcupaciones}" th:if="${ent.id} == ${ocu.entidad.id}" th:text="${ocu.nombre}">
            <div th:each="exp: ${listaExperiencias}" th:if="${ocu.id} == ${exp.ocupacion.id}" th:text="@{exp.logro}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
